@import "override";

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#main-wrapper {
  overflow-x: hidden;
}

#right-icons {
  ul {
    left: -84px;
  }
}

#username {
  width: 85%;
}

#edit-icon {
  width: 20px;
  height: 20px;
}
